.navbar > * {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item {
    padding: 10%;
    border-bottom: 2px solid mediumslateblue;
    border-right: 2px solid mediumslateblue;
    display: flex;
    transition: transform 500ms;
}

.nav-item > * {
    transition: transform 500ms;
}

.nav-item:hover > * {
    transform: scale(110%) translateX(10px);
}